*{
    padding: 0;
    margin: 0;
}

body{
    background:url(bg.jpg) no-repeat center fixed;
    background-size: cover;
}

.image{
    position: absolute;
    left: 74px;
    top: 10px;

}

.head{
color: gold;
position: absolute;
left: 185px;
top: 20px;
font-family: lucida calligraphy;
}

.container{
color: white;
position: absolute;
left: 150px;
top: 150px;

}

p{
    border-bottom: 3px solid gold;
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
}

.box
{
    width: 100%;
    margin: 20px 10px;
}

.box input
{
    background: none;
    font-size: 15px;
    border:none;
}

.robot{
font-size: 20px;
margin: 20px 10px;
}

.btn2 input
{
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    background: none;
    padding: 5px 5px;
    font-weight: bold;
}

.btn input
{
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    padding: 5px 5px;
    font-weight: bold;
}